body {
  font-family: "Gill sans",sans-serif;
}
  
.container{
  border: 5px solid #0b141b;
  box-shadow: 0px 0px 15px;
  padding: 15px;
  margin: 20px;
  height: 1000px;
  background-color: #1b2845;
  color: #5ecaba;
}

.audio{
  height: 10px;
  margin-right: 500px;
  background-color: #0b141b;
  color: #5ecaba;
 
}
#play-pause-button{
  color: #0b141b;
  font-size: 45px;
  cursor: pointer;
  text-shadow: 0px 0px 10px #5ecaba;
}
.habicon{
  border: 5px solid #0b141b;
  box-shadow: 0px 0px 15px;
  width: 100px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 75px;
  
  
}
.nameab{
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  text-align: center;
}
.iconlink{
  margin-bottom: -20px;
margin-left: 20px;
width: 25px;
  
}
h1{
  text-align: center;
  margin-top: 75px;
  font-size: 50px;
}
img{
  cursor: pointer;  
}
@-ms-viewport {
  width: device-width ;
}
